@charset "UTF-8";
.row_clear:after, .container:after, .listItems:after, #local_08 .items:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address,
del, em, img, small, strong, b, u, i, hr,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
button,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  word-wrap: break-word;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: inherit;
  font-weight: inherit;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

a img {
  border: none;
}

article, aside, details, figure, footer, header, menu, nav, section, summary {
  display: block;
}

body {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Verdana, sans-serif;
  font-size: 14px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  -webkit-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  opacity: 0.7;
}

a:focus {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

li, ol {
  list-style: none;
}

button:focus, input:focus, a:focus {
  outline: none;
}

/*------------------- Wraper -------------------*/
.wrapper {
  overflow-x: hidden;
  min-width: 1100px;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.container_box {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

/*------------------- Component -------------------*/
.title_h2 {
  font-size: 44px;
  color: #2bc1ff;
  line-height: 1.5;
  font-weight: bold;
  text-align: center;
}

.title_h3 {
  font-size: 40px;
  line-height: 1.3;
  color: #0958ba;
  font-weight: bold;
}

.title_h3 span {
  font-size: 22px;
}

.title_h4 {
  font-size: 24px;
  line-height: 1.4;
  color: #0958ba;
  font-weight: bold;
}

.text {
  font-size: 16px;
  line-height: 1.5;
}

.btn_small {
  padding-top: 24px;
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.btn_small a {
  display: block;
  width: 50%;
}

.btn_small a:first-child {
  padding-right: 10px;
}

.btn_small a:last-child {
  padding-left: 10px;
}

.btn_small img {
  width: 100%;
}

.btn {
  margin: 35px auto 0;
  max-width: 560px;
  width: 100%;
}

/*------------------- List -------------------*/
.checkbox_group_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.checkbox_group input[type=radio] {
  display: none;
}

.checkbox_group input[type=radio] + label:before {
  display: inline-block;
  content: "";
  letter-spacing: 10px;
  background: url("../images/check_off.png");
  width: 24px;
  height: 24px;
  background-size: 100%;
  margin-right: 2px;
  position: relative;
  top: 6px;
}

.checkbox_group input[type=radio]:checked + label:before {
  content: "";
  background: url("../images/check_on.png");
  letter-spacing: 5px;
  width: 24px;
  height: 24px;
  background-size: 100%;
}

.box_scroll {
  border: 1px solid #eae7e7;
  padding: 10px;
}

.scrollbar {
  height: 194px;
  overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #7c7c7c;
}

/* Header
-------------------------------------*/
#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  font-size: 13px;
  line-height: 1.5;
}

#header .logo {
  width: 240px;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#header .nav_header {
  width: calc(100% - 240px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#header .nav_main {
  width: calc(100% - 314px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 10px;
}

#header .nav_main .items_nav {
  display: inherit;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 20px;
}

#header .nav_btn {
  width: 314px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#header .nav_btn .items_nav {
  white-space: nowrap;
  padding: 0 5px;
  width: 33.3333333%;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#header .nav_btn .orange {
  background: #ff6f20;
}

#header .nav_btn .blue {
  background: #2bc1ff;
}

#header .nav_btn .cyan {
  background: #78d8ff;
}

#header #btn_toggle {
  display: none;
}

#header .items_btn_nav {
  display: none;
}

/* #local_01
-------------------------------------*/
#local_01 {
  height: calc(100vh - 80px);
  overflow: hidden;
  position: relative;
}

#local_01 .description_main {
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#local_01 .text_visual_main {
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 4%;
  max-width: 75%;
}

#local_01 .text_visual_main h2 {
  font-size: 56px;
}

#local_01 .text_visual_main h3 {
  font-size: 24px;
  padding-bottom: 30px;
}

#local_01 .text_visual_main h5 {
  display: inline-block;
  padding: 10px 60px;
  background: #2bc1ff;
  border-radius: 50px;
  font-size: 20px;
  margin-bottom: 40px;
}

#local_01 .btn_main_poster {
  max-width: 100%;
}

#local_01 .btn_main_poster a {
  color: #ffffff;
  padding: 0 10px;
  margin: auto;
  margin: 0 10px;
  font-weight: bold;
  position: relative;
}

#local_01 video {
  min-width: 100%;
  min-height: 100%;
}

#local_01 .sms_main {
  position: absolute;
  z-index: 999;
  bottom: 41px;
  right: 41px;
}

#local_01 .sms_main a {
  display: inline-block;
  margin: 0 2px;
}

/* #local_02
-------------------------------------*/
#local_02 {
  padding: 70px 0 80px;
  font-size: 16px;
}

#local_02 .title_h2 {
  padding-bottom: 10px;
}

#local_02 .title_h4 {
  text-align: center;
  font-size: 32px;
  padding-top: 15px;
}

#local_02 .title_h4 span {
  font-size: 24px;
}

#local_02 .text {
  text-align: center;
  line-height: 1.5;
}

#local_02 .list_thumbnail {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#local_02 .list_thumbnail .thumbnail {
  text-align: center;
}

#local_02 .list_thumbnail .items {
  width: 30%;
}

#local_02 .list_thumbnail .text {
  text-align: left;
  padding-top: 25px;
}

/* #local_03
-------------------------------------*/
#local_03 {
  background: url("../images/bg_main_02.jpg") no-repeat center left;
  background-size: cover;
  height: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

#local_03:before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% - 38px);
  width: 0;
  height: 0;
  border-left: 38px solid transparent;
  border-right: 38px solid transparent;
  border-top: 30px solid #ffffff;
}

#local_03:after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: calc(50% - 38px);
  width: 0;
  height: 0;
  border-left: 38px solid transparent;
  border-right: 38px solid transparent;
  border-top: 30px solid #f9f9f9;
}

#local_03 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

#local_03 .title_h3 {
  padding-bottom: 10px;
}

#local_03 .description {
  width: 68%;
}

/* #local_04
-------------------------------------*/
#local_04 {
  background: #2698e1;
  padding: 78px 0 78px;
  color: #ffffff;
}

#local_04 .title_h3 {
  color: #ffffff;
  padding-bottom: 20px;
}

#local_04 .container_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#local_04 .thumbnail {
  text-align: center;
  width: 42%;
}

#local_04 .description {
  width: 58%;
}

/* #local_05
-------------------------------------*/
#local_05 {
  padding: 70px 0 75px;
  position: relative;
  overflow: hidden;
}

#local_05 #background_poly_01 {
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  bottom: 0;
}

#local_05 .title_h2 {
  padding-bottom: 35px;
}

#local_05 .listItems {
  margin: 0 -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#local_05 .listItems.listThumb {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

#local_05 .listItems .items {
  width: 25%;
  text-align: center;
  padding: 0 20px;
}

#local_05 .listItems .title_h4 {
  padding: 20px 0 25px;
}

#local_05 .listItems .text {
  text-align: left;
}

#local_05 .listThumb .items {
  position: relative;
}

#local_05 .listThumb .items:not(:first-child):after {
  content: "";
  position: absolute;
  left: -30px;
  bottom: 50px;
  background: url("../images/arrow_right.png") no-repeat;
  width: 58px;
  height: 39px;
}

/* #local_06
-------------------------------------*/
#local_06 {
  background: #f2fcff;
  padding-top: 70px;
}

#local_06 .title_h2 {
  padding-bottom: 50px;
}

#local_06 .title_h3 {
  font-size: 34px;
  color: #2698e1;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

#local_06 .title_h3:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  height: 2px;
  background: #7daadc;
}

#local_06 .title_h3:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -4px;
  height: 2px;
  background: #7daadc;
}

#local_06 .title_h3 {
  line-height: 1;
}

#local_06 .listItems .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 55px;
}

#local_06 .listItems .items.reverse .description {
  padding-left: 0;
  padding-right: 50px;
}

#local_06 .listItems .items:first-child .img_thumb {
  padding-top: 21px;
}

#local_06 .thumbnail {
  width: 41%;
}

#local_06 .description {
  padding-left: 60px;
  width: 59%;
}

/* #local_07
-------------------------------------*/
#local_07 {
  padding: 65px 0 20px;
  font-size: 16px;
  position: relative;
  overflow: hidden;
}

#local_07 #background_poly_02 {
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
}

#local_07 .title_h2 {
  padding-bottom: 50px;
}

#local_07 .title_h3 {
  font-size: 32px;
  padding-bottom: 15px;
}

#local_07 .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 60px;
}

#local_07 .items .avatar {
  width: 275px;
  padding-right: 15px;
}

#local_07 .items .description {
  padding-left: 45px;
  max-width: 825px;
  width: 100%;
}

#local_07 .title_description {
  position: relative;
  padding-bottom: 30px;
  border-bottom: 2px dotted #0054a2;
}

#local_07 .title_description:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0px;
  width: 180px;
  height: 180px;
  background: url("../images/voice.gif") no-repeat bottom;
  background-size: 100%;
}

#local_07 h5 {
  font-weight: bold;
}

#local_07 .text {
  max-width: 626px;
  padding-top: 22px;
}

/* #local_08
-------------------------------------*/
#local_08 {
  background: #f2fcff;
  padding: 80px 0;
}

#local_08 .title_h2 {
  padding-bottom: 45px;
}

#local_08 .listChat .box_chat_more {
  display: none;
}

#local_08 .items {
  display: block;
  min-height: 53px;
}

#local_08 .items .description_chat {
  line-height: 1.5;
  position: relative;
  padding: 15px 45px 12px;
  max-width: 710px;
  display: inline-block;
}

#local_08 .items.user_left {
  margin-left: 70px;
  margin-bottom: 40px;
}

#local_08 .items.user_left .description_chat {
  background: #ffffff;
  border-radius: 30px;
  color: #000;
}

#local_08 .items.user_left .description_chat:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -10px;
  background: url("../images/speech_bubble_left.png") no-repeat;
  width: 26px;
  height: 16px;
  background-size: 100%;
}

#local_08 .items.user_left .description_chat:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -70px;
  background: url("../images/user_icon_left.png") no-repeat;
  width: 53px;
  background-size: 100%;
  height: 53px;
}

#local_08 .items.user_right {
  position: relative;
  margin-right: 70px;
  margin-bottom: 24px;
}

#local_08 .items.user_right .description_chat {
  border-radius: 50px;
  color: #ffffff;
  background: #0958ba;
  font-size: 20px;
  float: right;
}

#local_08 .items.user_right .description_chat:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: -10px;
  background: url("../images/speech_bubble_right.png") no-repeat;
  width: 26px;
  height: 16px;
  background-size: 100%;
}

#local_08 .items.user_right .description_chat:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -70px;
  background: url("../images/user_icon_right.png") no-repeat;
  width: 53px;
  height: 53px;
  background-size: 100%;
}

#local_08 .btn_more {
  padding-top: 20px;
  text-align: center;
}

/* #local_09
-------------------------------------*/
#local_09 {
  padding: 65px 0 85px;
  position: relative;
  overflow: hidden;
}

#local_09 #background_poly_03 {
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
}

#local_09 .container {
  position: relative;
}

#local_09 .container:before {
  content: "";
  background: url("../images/bg_step.png") no-repeat;
  width: 414px;
  height: 126px;
  position: absolute;
  top: -40px;
  right: 3%;
}

#local_09 .content_map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

#local_09 .title_h2 {
  padding-bottom: 35px;
  color: #0958ba;
}

#local_09 .thumbnail {
  padding-left: 50px;
}

#local_09 .map_google {
  width: 600px;
  height: 400px;
}

#local_09 .description {
  line-height: 1.4;
  width: 40%;
}

#local_09 .description p {
  padding-bottom: 20px;
}

#local_09 .description .img_map {
  padding-top: 17px;
}

/* #local_10
-------------------------------------*/
#local_10 {
  background: #2698e1;
  color: #ffffff;
  padding: 68px 0 78px;
}

#local_10 .title_h3 {
  font-size: 44px;
  color: #ffffff;
}

#local_10 .text {
  padding-top: 10px;
}

#local_10 .container_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#local_10 .thumbnail {
  padding-top: 80px;
  width: 42%;
}

#local_10 .description {
  width: 58%;
}

#local_10 .btn {
  padding-bottom: 30px;
  border-bottom: 1px solid #ffffff;
}

#local_10 .description_contact {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#local_10 .description_contact .text {
  font-weight: bold;
  padding-top: 5px;
  font-size: 24px;
}

#local_10 .description_contact .tel {
  text-align: right;
}

#local_10 .description_contact .number_phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 45px;
}

#local_10 .description_contact .number_phone img {
  margin-right: 10px;
}

/* entry_form_local_01
-------------------------------------*/
#entry_form_local_01 {
  position: relative;
  color: #0a2232;
  padding: 60px 0 100px;
  font-size: 16px;
}

#entry_form_local_01 #background_poly_entry {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
}

#entry_form_local_01 .container {
  max-width: 800px;
}

#entry_form_local_01 .content_form {
  padding-top: 65px;
}

#entry_form_local_01 .title_h2 {
  padding-bottom: 20px;
}

#entry_form_local_01 .title_h4 {
  color: #0a2232;
  font-size: 20px;
  padding-bottom: 5px;
}

#entry_form_local_01 .require {
  margin-left: 5px;
}

#entry_form_local_01 .error_text {
  padding-top: 10px;
  font-size: 12px;
  color: #ff4f4f;
}

#entry_form_local_01 .row_input {
  margin-top: 35px;
}

#entry_form_local_01 .row_note {
  margin-top: 30px;
  min-height: 194px;
}

#entry_form_local_01 .row_note .title_h4 {
  font-size: 16px;
  padding-bottom: 10px;
}

#entry_form_local_01 .row_note .text {
  padding: 6px 50px 0px 19px;
}

#entry_form_local_01 .row_note .text p {
  margin-bottom: 30px;
}

#entry_form_local_01 input[type="text"] {
  max-width: 500px;
  width: 100%;
  border: 1px solid #eae7e7;
  font-size: 16px;
  padding: 12px 19px;
  background: #edeff2;
  color: #898989;
}

#entry_form_local_01 input[type="text"].inline {
  margin-right: 10px;
  width: 106px;
  display: inline-block;
}

#entry_form_local_01 input[type="text"]:focus {
  background: #fff;
  border: 1px solid #eae7e7;
  color: #0a2232;
}

#entry_form_local_01 input[type="text"].error_input {
  background: #ffeeee;
  border: 2px solid #ff4f4f;
}

#entry_form_local_01 input[type="text"].error_input:focus {
  background: #ffeeee;
  border: 2px solid #ff4f4f;
  color: #ff4f4f;
}

#entry_form_local_01 textarea {
  margin-top: 10px;
  width: 100%;
  min-height: 200px;
  background: #edeff2;
  border: 1px solid #edeff2;
  resize: none;
}

#entry_form_local_01 .btn_submit {
  text-align: center;
  margin-top: 80px;
}

#entry_form_local_01 .btn_submit button {
  cursor: pointer;
  border: 0;
  background: none;
}

/* Footer
-------------------------------------*/
#footer {
  color: #327aa2;
  font-size: 12px;
  padding: 40px 0 80px;
}

#footer .sms_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 20px;
}

#footer .sms_footer a {
  padding: 0 5px;
}

#footer .link_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 10px;
}

#footer .copyright {
  text-align: center;
}

.toTop {
  display: none;
  position: fixed;
  right: 5%;
  bottom: 5%;
}

/*======================================
        Helper
======================================*/
.is_pc {
  display: inherit;
}

.is_sp {
  display: none;
}

.is_hidden {
  display: none;
}

.tar {
  text-align: right;
}

.tal {
  text-align: left;
}

.tac {
  text-align: center;
}

.float_left {
  float: left;
}

.float_right {
  float: right !important;
}

.brd_none {
  border: 0 !important;
}

.letter_03 {
  letter-spacing: -0.03em;
}

/*-----------------------
        Responsive for device
-----------------------------------------*/
@media screen and (max-width: 1280px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .wrapper {
    min-width: inherit;
  }
  #header .nav_main {
    width: 66%;
  }
  #header .nav_btn {
    width: 34%;
  }
  #local_01 .description_main {
    margin: auto;
  }
  #local_05 .listItems {
    margin: 0;
  }
}

@media screen and (max-width: 1200px) {
  #header {
    font-size: 3.5vw;
  }
  #header.active {
    background: #2698e1;
  }
  #header .logo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  #header .nav_header {
    display: none;
    width: 100%;
  }
  #header .nav_main {
    font-size: 5.2vw;
    color: #ffffff;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    padding: 7vw 0 5vw 0;
    padding-right: 0;
    font-weight: bold;
  }
  #header .nav_main .items_nav {
    display: block;
    width: 100%;
    padding-right: 0;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
  #header .items_nav a {
    padding: 16px;
    display: block;
    text-align: center;
  }
  #header .nav_btn {
    display: none;
  }
  #header .items_btn_nav {
    width: 90%;
    margin: auto;
  }
  #header .items_btn_nav {
    display: block;
  }
  #header .items_btn_nav .sms_footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  #header .items_btn_nav .sms_footer a {
    margin: 20px 10px 30px;
  }
  #header #btn_toggle {
    display: block;
    width: 45px;
    height: 35px;
  }
  #header #btn_toggle span {
    -webkit-transition: 400ms;
    -o-transition: 400ms;
    transition: 400ms;
    display: block;
    background: #2698e1;
    height: 5px;
    width: 100%;
  }
  #header #btn_toggle span:not(:last-child) {
    margin-bottom: 10px;
  }
  #header #btn_toggle.active span {
    background: #ffffff;
  }
  #header #btn_toggle.active span:first-child {
    -webkit-transform: translateY(15px) rotate(-45deg);
    -ms-transform: translateY(15px) rotate(-45deg);
    transform: translateY(15px) rotate(-45deg);
  }
  #header #btn_toggle.active span:nth-child(2) {
    opacity: 0;
  }
  #header #btn_toggle.active span:last-child {
    -webkit-transform: translateY(-14px) rotate(45deg);
    -ms-transform: translateY(-14px) rotate(45deg);
    transform: translateY(-14px) rotate(45deg);
  }
  #header #btn_toggle:hover {
    opacity: 1;
  }
}

@media screen and (max-width: 767px) {
  .is_pc {
    display: none;
  }
  .is_sp {
    display: inherit;
  }
  .container {
    width: 100%;
  }
  .container_box {
    width: 100%;
  }
  .title_h2 {
    font-size: 7vw;
  }
  .title_h3 {
    font-size: 4.5vw;
  }
  .title_h3 span {
    font-size: 3.5vw;
  }
  .title_h4 {
    font-size: 4vw;
  }
  .title_h4 span {
    font-size: 3.5vw;
  }
  .text {
    font-size: 3.7vw;
  }
  .btn {
    max-width: 100%;
    margin-top: 20px;
  }
  .btn img {
    width: 100%;
  }
  .btn .btn_small {
    padding-top: 20px;
  }
  .btn .btn_small a {
    display: block;
    width: 50%;
  }
  .btn .btn_small a:first-child {
    padding-right: 5px;
  }
  .btn .btn_small a:last-child {
    padding-left: 5px;
  }
  /*------------- Header -------------*/
  #header .logo a {
    width: 50%;
  }
  #header .items_nav a {
    padding: 12px 0;
  }
  #header .items_btn_nav .sms_footer {
    margin-top: 20px;
  }
  /*------------- local_01 -------------*/
  #local_01 .description_main {
    top: -4%;
  }
  #local_01 .video_main {
    height: inherit;
  }
  #local_01 .sms_main {
    left: 0;
    right: 0;
    bottom: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  #local_01 .sms_main a {
    margin: 0 5px;
  }
  #local_01 .text_visual_main {
    max-width: 85%;
    margin-bottom: 3%;
  }
  #local_01 .text_visual_main h2 {
    line-height: 1.2;
    font-size: 9vw;
    padding: 1.5vw 0;
  }
  #local_01 .text_visual_main h5 {
    padding: 10px 30px;
    font-size: 4vw;
    margin-bottom: 3vw;
  }
  #local_01 .text_visual_main h3 {
    font-size: 3.7vw;
    line-height: 1.5;
    padding-bottom: 20px;
  }
  #local_01 .text_visual_main .fs_40_sp {
    font-size: 5.3vw;
    display: block;
    padding-bottom: 2vw;
  }
  #local_01 .btn_main_poster a {
    display: block;
    width: 100%;
    margin: 3% auto;
    padding: 0 8%;
  }
  #local_01 .btn_main_poster .fs_20 {
    font-size: 5.3vw;
  }
  #local_01 .btn_main_poster .fs_16 {
    font-size: 4vw;
  }
  /*------------- local_02 -------------*/
  #local_02 {
    padding: 10vw 0;
  }
  #local_02 .text {
    text-align: justify;
  }
  #local_02 .title_h4 {
    font-size: 4.5vw;
  }
  #local_02 .title_h4 span {
    font-size: 4vw;
  }
  #local_02 .list_thumbnail {
    padding-top: 10vw;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  #local_02 .list_thumbnail .items {
    width: 100%;
    padding-bottom: 30px;
  }
  #local_02 .list_thumbnail .items:nth-child(2) {
    padding: 0 0 30px;
    margin: 0;
  }
  /*------------- local_03 -------------*/
  #local_03:after, #local_03:before {
    display: none;
  }
  /*------------- local_04 -------------*/
  #local_04 {
    padding: 10vw 0;
  }
  #local_04 .thumbnail {
    text-align: center;
    width: 35%;
    margin: auto;
    padding-left: 0;
  }
  #local_04 .description {
    padding-top: 30px;
    width: 90%;
    margin: auto;
    padding-left: 0;
  }
  /*------------- local_05 -------------*/
  #local_05 {
    padding: 10vw 0;
  }
  #local_05 .listItems .items {
    width: 100%;
  }
  #local_05 .listItems .title_h4 {
    padding: 15px 0;
  }
  #local_05 .listThumb .items:not(:last-child) {
    padding-bottom: 80px;
  }
  #local_05 .listThumb .items:not(:first-child):after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    left: calc(50% - 20px);
    top: -55px;
    bottom: inherit;
    width: 45px;
    height: 30px;
    background-size: 100%;
  }
  /*------------- local_06 -------------*/
  #local_06 {
    padding: 10vw 0;
  }
  #local_06 .title_h3 {
    font-size: 4.5vw;
    padding-bottom: 12px;
    margin-bottom: 15px;
    line-height: 1.3;
  }
  #local_06 .img_thumb {
    width: 70%;
  }
  #local_06 .listItems .items {
    padding-bottom: 10px;
  }
  #local_06 .listItems .items.reverse .description {
    padding-right: 0;
    padding-bottom: 20px;
  }
  #local_06 .thumbnail {
    width: 100%;
  }
  #local_06 .thumbnail img {
    width: 100%;
  }
  #local_06 .description {
    padding-top: 30px;
    width: 100%;
    padding-left: 0;
  }
  /*------------- local_07 -------------*/
  #local_07 .title_h3 {
    font-size: 4.5vw;
  }
  #local_07 .title_h3 img {
    padding: 0 10px;
    width: 20%;
  }
  #local_07 .items {
    padding-bottom: 40px;
  }
  #local_07 .items .avatar {
    width: 40%;
  }
  #local_07 .items .description {
    width: 60%;
    padding-left: 0;
  }
  #local_07 .title_description:after {
    top: 45%;
    right: 0;
    width: 20%;
    height: 74%;
    background-size: 100%;
  }
  #local_07 h5 {
    padding-top: 5px;
    font-size: 3vw;
  }
  /*------------- local_08 -------------*/
  #local_08 {
    padding: 10vw 15px;
  }
  #local_08 .title_h2 {
    padding-bottom: 30px;
  }
  #local_08 .items {
    min-height: inherit;
  }
  #local_08 .items .description_chat {
    padding: 2vw 4vw;
  }
  #local_08 .items.user_left {
    margin-left: 50px;
  }
  #local_08 .items.user_left .description_chat {
    font-size: 3vw;
  }
  #local_08 .items.user_left .description_chat:after {
    width: 40px;
    height: 40px;
    left: -50px;
  }
  #local_08 .items.user_right {
    margin-right: 50px;
  }
  #local_08 .items.user_right .description_chat {
    font-size: 4vw;
  }
  #local_08 .items.user_right .description_chat:before {
    right: -6px;
  }
  #local_08 .items.user_right .description_chat:after {
    right: -50px;
    width: 40px;
    height: 40px;
  }
  /*------------- local_09 -------------*/
  #local_09 {
    padding: 10vw 0;
  }
  #local_09 img {
    width: 100%;
  }
  #local_09 .container:before {
    top: -1%;
    background-position: top right;
    background-size: 32%;
  }
  #local_09 .title_h2 {
    padding-bottom: 25px;
  }
  #local_09 .content_map {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  #local_09 .description {
    width: 100%;
  }
  #local_09 .description .img_map {
    padding-top: 0;
  }
  #local_09 .map_google {
    width: 100%;
  }
  #local_09 .thumbnail {
    padding-top: 20px;
    width: 100%;
    padding-left: 0;
  }
  /*------------- local_10 -------------*/
  #local_10 {
    padding: 10vw 0;
  }
  #local_10 .title_h3 {
    padding-top: 20px;
    text-align: center;
    font-size: 7vw;
  }
  #local_10 .thumbnail {
    padding-top: 0;
    margin: auto;
    width: 70%;
    text-align: center;
  }
  #local_10 .description {
    width: 90%;
    margin: auto;
    padding-left: 0;
  }
  #local_10 .description_contact {
    padding-top: 10px;
  }
  #local_10 .description_contact .text {
    font-size: 4vw;
    padding-right: 10px;
  }
  #local_10 .description_contact .tel {
    width: 55%;
    font-size: 4vw;
    line-height: 1.3;
  }
  #local_10 .description_contact .number_phone {
    display: block;
    font-size: 6vw;
  }
  #local_10 .description_contact .number_phone img {
    width: 11%;
  }
  .scrollbar {
    height: 300px;
  }
  #entry_form_local_01 input[type="text"] {
    max-width: 100%;
  }
  #entry_form_local_01 .content_form {
    padding-top: 30px;
  }
  .checkbox_group_main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .checkbox_group:not(:last-child) {
    margin-bottom: 20px;
  }
  .checkbox_group input[type=radio] + label:before {
    margin-right: 20px;
  }
  /*------------- Footer -------------*/
  #footer {
    padding: 10vw 0 25vw;
    font-size: 3vw;
  }
  .toTop {
    right: 3%;
    bottom: 8%;
  }
}

@media screen and (max-width: 320px) {
  #local_01 .description_main {
    top: -3.5%;
  }
  #local_01 .text_visual_main {
    margin-bottom: 0;
  }
  #local_01 .text_visual_main h3 {
    padding-bottom: 10px;
  }
  #local_01 .text_visual_main h5 {
    padding: 5px 15px;
  }
  #local_01 .sms_main {
    bottom: 4%;
  }
  #local_01 .sms_main a {
    margin: 0;
  }
  #local_01 .sms_main img {
    padding: 10%;
  }
}
