/* Header
-------------------------------------*/
#header {
    // @extend %clearfix;
    // >* {
    //     float: left;
    // }
    // margin: auto;
    // float: right;
    // width: 1280px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    font-size: 13px;
    line-height: 1.5;
    .logo {
        width: 240px;
        // width: 25.5%;
        padding: 10px 10px;
        display: flex;
        align-items: center;
    }
    .nav_header {
        // width: 74.5%;
        width: calc(100% - 240px);
        display: flex;
        flex-wrap: wrap;
    }
    .nav_main {
        width: calc(100% - 314px);
        display: flex;
        align-items: stretch;
        justify-content: flex-end;
        padding-right: 10px;
        .items_nav {
            display: inherit;
            align-items: center;
            padding-right: 20px;
        }
    }
    .nav_btn {
        width: 314px;
        display: flex;
        flex-wrap: wrap;
        .items_nav {
            white-space: nowrap;
            padding: 0 5px;
            width: 33.3333333%;
            color: $color-a;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .orange {
            background: $orange_bg;
        }
        .blue {
            background: $blue_bg;
        }
        .cyan {
            background: $cyan_bg;
        }
    }
    #btn_toggle {
        display: none;
    }
    .items_btn_nav {
        display: none;
    }
}
